<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-group row" style="width: 60%;">
    <label class="col-sm-2 col-form-label">Employee Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="EmployeeName"
        placeholder="Enter Employee Name"
        (keydown)="clearMessage()"
        (keyup)="newMessage()"
        >
    </div>

    <label class="col-sm-2 col-form-label">Department</label><!--// TODO DEBUG WIP <h5 class="col-sm-2 col-form-label float-right" id="messageLabelDEBUG">[{{Department}}]</h5> -->
    <div class="col-sm-10">
      <select (change)="newMessage()" class="form-control" [(ngModel)]="Department">
        <option>--Select--</option>
        <!--// TODO DEBUG WIP -->
        <option *ngFor="let departmentName of DepartmentList" [ngValue]="departmentName.DepartmentName">
          {{departmentName.DepartmentName}}
        </option>
      </select>
    </div>

    <label class="col-sm-2 col-form-label">Date Of Joining</label>
    <div class="col-sm-10">
      <input
        type="date"
        class="form-control"
        [(ngModel)]="DateOfJoining"
        (change)="newMessage()"
      >
    </div>

  </div>

  <!--/ TODO WIP: EMPLOYEE PHOTO UPLOAD
  <div class="ml-3 bd-highlight" style="width: 40%;">
    <img [src]=PhotoFilePath height="250px;" width="200px;">
    <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
  </div>
  /-->
</div>

<h5 class="col-sm-2 col-form-label float-right" id="messageLabel">{{messageText}}</h5>